@import "/assets/scss/variables";

.app-component {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  .header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Din Bold';
  }
  .err {
    color: red;
    font-size: 20px;
    justify-content: center;
  }
  .products {
    border: 2px solid black;
    border-radius: 4px;
    max-height: 600px;
    overflow: hidden auto;
    .product {
      display: flex;
      align-items: flex-start;
      margin: 5px 0;
      padding: 5px 10px;
      font-family: 'Din Light';
      &:hover {
        cursor: pointer;
      }
    }
  }
  .print-actions {
    padding: 20px;
    display: flex;
    justify-content: center;
    button {
      margin: 0 20px;
    }
  }
}
